body {
  display: flex;
}
.side-bar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 110px;
  height: 100vh;
  padding: 0 1.7rem;
  color: black;
  overflow: hidden;
  transition: all 0.5s linear;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.side-bar:hover {
  width: 320px;
  transition: 0.5s;
  background: #fff;
}
.side-bar .active {
  background-color: #33CCFF;
  color: #fff;
}
h3 {
  white-space: nowrap;
  transition: opacity 0.5s ease;
  opacity: 0;
}
.side-bar:hover h3 {
  opacity: 1;
}
.menu {
  height: 88%;
  position: relative;
  list-style: none;
  margin-top: 20px;
  padding: 0;
}
.menu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.menu li:hover {
  background: #DDDDDD;
}
.menu li:active {
  background: #33CCFF;
  color: #fff;
}
.menu a {
  color: black;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.menu a span {
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.5 ease;
}
.side-bar:hover .menu a span {
  opacity: 1;
}
.menu a i {
  font-size: 1.2rem;
}
.logout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.main-clause {
  position: relative;
  background-color: #ebe9e9;
  width: 100%;
  padding: 1rem;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
}
.header-wrapper img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.header-title {
  color: rgba(35, 35, 243, 0.4);
}
.admin-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.search-box {
  background-color: #DDDDDD;
  border-radius: 15px;
  color: rgba(35, 35, 243, 0.4);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 12px;
}
.search-box input {
  border: none;
  background-color: transparent;
  padding: 10px;
}
.search-box input:focus {
  outline: none;
  border: none;
}
.search-box i {
  font-size: 1.2rem;
  cursor: pointer;
}
.main-title {
  color: rgba(35, 35, 243, 0.4);
  margin-bottom: 10px;
  font-size: 16px;
  opacity: 1;
}
.info-table {
  background-color: #fff;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 2rem;
}
.table-container {
  width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  background-color: #33CCFF;
  color: #fff;
}
th {
  padding: 15px;
}
tbody {
  background-color: #fff;
}
td {
  padding: 15px;
  font-size: 16px;
  color: #333;
}
tr:ntn-child(even) {
  background-color: #fff;
}
tfoot {
  background-color: #33CCFF;
  font-weight: bold;
  color: #fff;
}
.table-container button {
  color: red;
  background-color: none;
  cursor: pointer;
}
.container {
  max-width: 500px;
  margin: auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
  display: block;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 25px;
}
.form-group label {
  font-weight: bold;
}
.form-control {
  border-radius: 20px;
}
.title-1{
  font-family: 'Sacramento', cursive;
   margin-top: 4px;
}
.title-2{
  font-family: 'Noto Serif Georgian', cursive;
  margin-top: 4px;
}
.title-3{
  font-family: 'Roboto', cursive;
  margin-top: 4px;
}